#!/bin/bash

# Template:
# echo "MY_VAR=value" >> /etc/sysconfig/log-export-container

echo "LOG_EXPORT_CONTAINER_INPUT=syslog-json" >> /etc/sysconfig/log-export-container
echo "LOG_EXPORT_CONTAINER_OUTPUT=stdout" >> /etc/sysconfig/log-export-container

# Needed for applying the new variables configured above
systemctl restart log-export-container
